@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,300,600,700);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* html { font-size: 100%; }

html { font-size: 16px; line-height: 1.625em; }

html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { background: white; font-family: "Ubuntu"; font-weight: 400; color: #555555; position: relative; -webkit-font-smoothing: antialiased; -webkit-backface-visibility: hidden; }
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }

html, body { height: 100%; }

.ie9 { font-family: "Ubuntu"; }
.ie9 * { font-family: "Ubuntu"; }

.hide { display: none; }

.hide.active, .show { display: block; }

.fixed { position: fixed; }
@media only screen and (max-width: 768px) { .fixed { position: relative !important; } }

.center-text { text-align: center; }

h1, h2, h3, h4, h5, h6 { font-family: "Ubuntu"; font-weight: 300; color: #444444; text-rendering: optimizeLegibility; padding-top: 0.273em; line-height: 1.15538em; padding-bottom: 0.273em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #d04526; }

@media only screen and (max-width: 767px) { h1, h2, h3, h4, h5, h6 { word-wrap: break-word; } }
h1 { font-size: 68px; font-size: 4.25rem; }
h1.xlarge { font-size: 110px; font-size: 6.875rem; }
h1.xxlarge { font-size: 126px; font-size: 7.875rem; }
h1.absurd { font-size: 177px; font-size: 11.0625rem; }

h2 { font-size: 42px; font-size: 2.625rem; }

h3 { font-size: 30px; font-size: 1.875rem; }

h4 { font-size: 26px; font-size: 1.625rem; }

h5 { font-size: 18px; font-size: 1.125rem; }

h6 { font-size: 16px; font-size: 1rem; }

@media only screen and (max-width: 767px) { h1 { font-size: 42px; font-size: 2.625rem; }
  h2 { font-size: 36px; font-size: 2.25rem; } }
.subhead { color: #777; font-weight: normal; margin-bottom: 20px; }

/*=====================================================  Links & Paragraph styles  ======================================================*/
p { font-family: "Ubuntu"; font-weight: 400; font-size: 16px; font-size: 1rem; margin-bottom: 13px; line-height: 1.625em; }
p.lead { font-size: 20px; font-size: 1.25rem; margin-bottom: 18px; }
@media only screen and (max-width: 768px) { p { font-size: 17.6px; font-size: 1.1rem; line-height: 1.625em; } }

a { color: #d04526; text-decoration: none; outline: 0; line-height: inherit; }
a:hover { color: #c03d20; }

/*=====================================================
 Lists  ======================================================*/
ul, ol { margin-bottom: 0.273em; }

ul { list-style: none outside; }

ol { list-style: decimal; margin-left: 30px; }

ul.square, ul.circle, ul.disc { margin-left: 25px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul { margin: 4px 0 5px 25px; }

ol ol { margin: 4px 0 5px 30px; }

li { padding-bottom: 0.273em; }

ul.large li { line-height: 21px; }

dl dt { font-weight: bold; font-size: 16px; font-size: 1rem; }

@media only screen and (max-width: 768px) { ul, ol, dl, p { text-align: left; } }
/* Mobile */
em { font-style: italic; line-height: inherit; }

strong { font-weight: 700; line-height: inherit; }

small { font-size: 56.4%; line-height: inherit; }

h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; }

/*  Blockquotes  */
blockquote { line-height: 20px; color: #777; margin: 0 0 18px; padding: 9px 20px 0 19px; border-left: 5px solid #cccccc; }
blockquote p { line-height: 20px; color: #777; }
blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #555555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a { color: #555555; }
blockquote cite a:visited { color: #555555; }

hr { border: 1px solid #cccccc; clear: both; margin: 16px 0 18px; height: 0; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #cccccc; cursor: help; }

abbr { text-transform: none; }

/** Print styles.  Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/ Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com) */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: sanbeiji.com/archives/953 */
  p a { color: #555555 !important; text-decoration: underline; }
  p a:visited { color: #555555 !important; text-decoration: underline; }
  p a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
/*=================================================
 +++ LE GRID +++ A Responsive Grid -- Gumby defaults to a standard 960 grid, but you can change it to whatever you'd like.
 ==================================================*/
/*.container { padding: 0px $gutter-in-px;
}*/
.row { width: 100%; max-width: 940px; min-width: 320px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .row { padding: 0 20px; } }
.row .row { min-width: 0px; }
@media only screen and (max-width: 960px) { .row .row { padding: 0; } }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 2.12766%; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column:first-child, .columns:first-child, .alpha { margin-left: 0px; }

.column.omega, .columns.omega { float: right; }

/* Column Classes */
.row .one.column, .row .one.columns, .sixteen.colgrid .row .one.columns { width: 6.38298%; }
.row .two.columns { width: 14.89362%; }
.row .three.columns { width: 23.40426%; }
.row .four.columns { width: 31.91489%; }
.row .five.columns { width: 40.42553%; }
.row .six.columns { width: 48.93617%; }
.row .seven.columns { width: 57.44681%; }
.row .eight.columns { width: 65.95745%; }
.row .nine.columns { width: 74.46809%; }
.row .ten.columns { width: 82.97872%; }
.row .eleven.columns { width: 91.48936%; }
.row .twelve.columns { width: 100%; }

.pull_right { float: right; }

.pull_left { float: left; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

/* Mobile */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; }
  .container { min-width: 0; margin-left: 0; margin-right: 0; }
  .row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
  .row .row .column, .row .row .columns { padding: 0; }
  .row .centered { margin: 0 !important; }
  .column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
  .column:last-child, .columns:last-child { margin-right: 0; float: none; }
  [class*="column"] + [class*="column"]:last-child { float: none; }
  [class*="column"]:before { display: table; }
  [class*="column"]:after { display: table; clear: both; }
  [class^="push_"], [class*="push_"] { margin-left: 0 !important; } }


@import url(//fonts.googleapis.com/css?family=Handlee:400,300,600,700);

body {
    background: #fff;
}

table {
    width: 100%;
}

th {
    font-weight: bold;
}

th, td {
    border: 1px solid #cecece;
    padding: 5px;
}

.text-right {
    text-align: right;
}

a {
    color: #aaa;
}

a.active, a:hover {
    color: #ff5949;
}

header {
    padding: 10px 0 20px 0;
    background: #fff;
}

header h1 {
    font-size: 2.6em;
}

header ul {
    display: table;
    float: right;
}

header li {
    display: table-cell;
    padding-right: 30px;
}

header li a {
    padding: 5px;
}

#announce {
    background: #ff5949;
    color: #fff;
    padding: 5px 0;
}

main {
    display: block;
    padding: 20px 0;
}

main h2 {
    margin-bottom: 20px;
}

main h3 {
    border-bottom: 1px dashed #cecece;
    margin-top: 30px;
    margin-bottom: 10px;
}

main h3:first-child {
    margin-top: 10px;
}

main li {
    margin-left: 25px;
    list-style: square outside;
}

footer {
    border-top: 1px solid #cecece;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    color: #000;
}

.visible-mobile {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .hidden-mobile {
        display: none !important;
    }
    .visible-mobile {
        display: block !important;
    }
}