* text=auto

.github/ export-ignore
tests/ export-ignore

app/ export-ignore
docs/ export-ignore
excludes/ export-ignore

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore

phpunit.xml export-ignore
