@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url(/fonts/Nunito-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
