---
layout: default
---

<div class="nine columns">
    {{ content }}
</div>

<div class="three columns">
    <ul>
        <li><a href="{{ site.url }}docs/">Welcome</a></li>
        <li><a href="{{ site.url }}docs/installation">Installation</a></li>
        <li><a href="{{ site.url }}docs/languages">Languages</a></li>
        <li><a href="{{ site.url }}docs/contributing">Contributing</a></li>
        <li><a href="{{ site.url }}docs/changelog">Changelog</a></li>
        <li><a href="{{ site.url }}docs/source">Source</a></li>
    </ul>
</div>