---
layout: default
---

<div class="nine columns">
    {{ content }}
</div>

<div class="three columns">
    <ul>
        <li><a href="{{ site.url }}docs/index.html">Welcome</a></li>
        <li><a href="{{ site.url }}docs/installation.html">Installation</a></li>
        <li><a href="{{ site.url }}docs/languages.html">Languages</a></li>
        <li><a href="{{ site.url }}docs/contributing.html">Contributing</a></li>
        <li><a href="{{ site.url }}docs/changelog.html">Changelog</a></li>
        <li><a href="{{ site.url }}docs/source.html">Source</a></li>
    </ul>
</div>