name: docs
on:
    push:
        branches:
            - master

    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
                with:
                    ref: master
                    fetch-depth: 0
                    token: ${{ secrets.GITHUB_TOKEN }}

            -   name: Setup Node.js
                uses: actions/setup-node@v1
                with:
                    node-version: '16'

            -   name: Cache dependencies
                uses: actions/cache@v2
                id: npm-cache
                with:
                    path: |
                        **/node_modules
                    key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
                    restore-keys: |
                        ${{ runner.os }}-npm-

            -   name: Install dependencies
                if: steps.npm-cache.outputs.cache-hit != 'true'
                run: npm i

            -   name: Build VuePress site
                run: npm run build

            -   name: Deploy to GitHub Pages
                uses: crazy-max/ghaction-github-pages@v2
                with:
                    target_branch: gh-pages
                    build_dir: docs/.vuepress/dist
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
