name: Release Drafter

on:
  push:
    branches:
      - main
      - 10.x
  release:
    types:
      - published
      - unpublished
      - released
      - prereleased
  workflow_dispatch:

jobs:
    Update:
        uses: Laravel-Lang/.github/.github/workflows/release-drafter.yml@main
