name: Title

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  Check:
    uses: Laravel-Lang/.github/.github/workflows/title-checker.yml@main
    with:
        token: ${{ secrets.COMPOSER_TOKEN }}
